// SIZE
$content-max-width: 1600px;
$content-horizontal-padding: 15px;

$card-min-width: 220px;
$card-max-width: 350px;

// COLORS
$white: #fff;

$card-background: #f2f2f2;
$card-stat-title: #555;

$tag-default-bg: #a3abae;
$tag-color: $white;

// FONT
$font-family: Arial, sans-serif;
